body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button{
    cursor: pointer;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.header-menu, .contacts-list{
    display: none;
}

.page-logo {
    display: block;
    padding: 16px 0;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.web-logo {
    color: #2E2F42;
}

.burger{
    border: none;
    padding: 0;
    background-color: transparent;
}
.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger {
        display: none;
    }
    .header-menu {
        display: flex;
        gap: 40px;
        align-items: center;
    }
    .adress-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .contacts {
        display: block;
        color: #434455;
        font-style: normal;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-container {
        display: flex; 
        align-items: center;
        margin-right: auto;
    }
    .page-logo{
        padding: 24px 0;
        margin-right: 120px;
    }
        .nav-link {
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;
            color: #2E2F42;
            font-weight: 500;
            line-height: 1.5;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        .current {
            position: relative;
            color: #404bbf;
        }
        .current::after {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            display: block;
            content: "";
            transition-property: width, height, border-radius, background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        .nav-link:hover::after {
            width: 100%;
            width: 48px;
            height: 4px;
            border-radius: 2px;
            background-color: #404BBF;
        }
                .nav-link:hover,
                .contacts:hover,
                .nav-link:focus {
                    color: #404bbf;
                }
        
        
                .contacts:focus {
                    color: #404bbf;
                }
        
}

@media screen and (min-width: 1158px){
    .page-logo{
        margin-right: 76px;
    }
    .contacts-list{
        display: flex;
    }
    .adress-container{
        align-items: center;
        gap: 40px;
        flex-direction: row;
    }
    .contacts{
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}